/*** Configuration Site ***/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600 !important;
}

::-webkit-scrollbar-thumb {
    background-color: #636660;
    border-radius: 20px;
}
::-webkit-scrollbar {
    width: 10px;
}
#toTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
    z-index: 99;
    border-radius: 10%;
    width: 60px;
    height: 60px;
    font-size: 2em;
}
#toTop:hover {
    border: 2px solid white;
}
#toTop:hover span i.fas {
    top: -7px;
    position: relative;
    transition: all 300ms;
}

.header-navbar {
    width: 100%;
    min-height: 0px;
    height: auto;
    background-color: transparent;
}
.site-topbar {
    background-color: #121212;
}
.site-navbar {
    background-color: #2b2b2b;
}
.main-navigation a {
    font-size: 15px;
    font-weight: 500;
}
.current-menu-item > a {
    text-decoration: none !important;
}
.sticky-bar {
    background-color: #ffa800 !important;
}
.groupEdWd-line-divider {
    border-top-color: #ffa800;
}
.groupEdWd-dropdown-link {
    font-size: 15px;
}
.groupEdWd-dropdown-icon {
    font-size: 15px;
}

.groupEdWd-container-show-ride-pwd {
    right: 20px;
    position: relative;
    float: right;
    font-size: 18px;
    top: -35px;
    cursor: pointer;
}

.groupEdWd-footer-title::after {
    content: '';
    display: block;
    width: 80%;
    height: 2px;
    margin-top: 10px;
    background-color: #ffa800;
}
.btn:focus {
    outline: none !important;
}
.site-footer a:hover {
    left: 5px;
    position: relative;
    transition: all .1s linear;
}

.site-footer {
    padding: 60px 0 20px !important;
}

.copyright {
    padding: 10px 0 !important;
}
.groupEdWd-button {
    background-color: #ffa800 !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    min-width: 160px;
    left: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #2b2b2b;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ffa800;
    color:#ffffff;
}

.dropdown:hover .dropdown-content {display: block;}

/*** Colors ***/
.groupEdWd-red-color,
.groupEdWd-required,
.groupEdWd-errors-field {
    color: #d12420;
}


/*** Profil ***/
.groupEdWd-profil-img {
    margin-right: 15px;
    max-width: 100px;
    height: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.groupEdWd-profil-section {
    background: #ffa800;
}
